<!--{if $_G['uid']}-->
<div id="um" class="z">
	<div onmouseover="showMenu({'ctrlid':'umLogin'});" class="showmenu umLogin" id="umLogin" initialized="true">
		<a class="av" href="home.php?mod=space&uid=$_G[uid]"><!--{avatar($_G[uid],small)}--></a>
		{$_G[member][username]}
		<i class="arrow-w"></i>
	</div>
	<div id="umLogin_menu" class="p_pop" style="display:none;">
		<img class="login_nrrow" src="{$_G['style']['styleimgdir']}header_login_ico.png" alt="" />
		<div class="cl um_info">
			<a class="avt" href="home.php?mod=space&uid=$_G[uid]"><!--{avatar($_G[uid])}--></a>
			<p class="cl">
			<strong class="z vwmy{if $_G['setting']['connect']['allow'] && $_G[member][conisbind]} qq{/if}">
				<a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}">{$_G[member][username]}</a>
			</strong>
			<!--{if $_G['group']['allowinvisible']}-->
			<span id="loginstatus" class="y">
				<a id="loginstatusid" href="member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}" class="xi2"></a>
			</span>
			<!--{/if}-->
			</p>
			<a href="home.php?mod=spacecp&ac=usergroup" id="g_upmine">{lang usergroup}: $_G[group][grouptitle]<!--{if $_G[member]['freeze']}--><span class="xi1">({lang freeze})</span><!--{/if}--></a>
		</div>
		<div class="um_op">
		<div class="y">
		<div class="qq_login"><!--{hook/global_usernav_extra1}--></div>	
		<div class="wx_login"><!--{hook/global_usernav_extra4}--></div>
		</div>
		
		<a href="forum.php?mod=guide&view=my">{lang mypost}</a>
		<a href="home.php?mod=space&do=favorite&view=me">{lang favorite}</a>
		<a href="home.php?mod=space&do=friend">{lang friends}</a>					
		<a href="home.php?mod=spacecp">{lang setup}</a>
		<a href="home.php?mod=space&do=pm" id="pm_ntc"{if $_G[member][newpm]} class="new"{/if}>{lang pm_center}</a>
		<a href="home.php?mod=space&do=notice" id="myprompt" class="a showmenu{if $_G[member][newprompt]} new{/if}" >{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></a><span id="myprompt_check"></span>
		<!--{if empty($_G['cookie']['ignore_notice']) && ($_G[member][newpm] || $_G[member][newprompt_num][follower] || $_G[member][newprompt_num][follow] || $_G[member][newprompt])}--><script language="javascript">delayShow($('myprompt'), function() {showMenu({'ctrlid':'myprompt','duration':3})});</script><!--{/if}-->
		<!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}--><a href="home.php?mod=task&item=doing" id="task_ntc" class="new">{lang task_doing}</a><!--{/if}-->
		<!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
			<a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>
		<!--{/if}-->
		<!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
			<a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
		<!--{/if}-->
		<!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
			<a href="admin.php" target="_blank">{lang admincp}</a>
		<!--{/if}-->
		<!--{hook/global_usernav_extra2}-->
		<!--{hook/global_usernav_extra3}-->
		<a href="home.php?mod=spacecp&ac=credit&showcredit=1" id="extcreditmenu"{if !$_G[setting][bbclosed]} {/if}>{lang credits}: $_G[member][credits]</a>
		<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
		</div>
	</div>
</div>
<!--{elseif !empty($_G['cookie']['loginuser'])}-->
<p>
	<strong><a id="loginuser" class="noborder"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a></strong>
	<a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang activation}</a>
	<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
</p>

<!--{elseif !$_G[connectguest]}-->
<div class="y">
<div class="no_login y">
	<a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang login}</a> 
	<a href="member.php?mod={$_G[setting][regname]}">$_G['setting']['reglinkname']</a>
</div>
<div class="qq_wx_icon y">
	<!--hook/global_login_extra-->
	<div class="fastlg_fm y" style="margin-right: 10px; padding-right: 10px">
	    <p><a href="connect.php?mod=login&op=init&referer=portal.php&statfrom=login_simple">QQ登录</a></p>
		<p class="hm xg1" style="padding-top: 2px;">只需一步，快速开始</p>
	</div>
	<div class="fastlg_fm y" style="margin-right: 10px; padding-right: 10px">
	    <p><a class="wx_icon" href="plugin.php?id=wechat:login">微信登录</a></p>
		<p class="hm xg1" style="padding-top: 2px;">扫一扫，访问微社区</p>
	</div>
</div>
</div>
<!--{else}-->

<div id="um" class="y">
	<div onmouseover="showMenu({'ctrlid':'umLogin'});" class="showmenu umLogin" id="umLogin" initialized="true">
		<span class="av"><!--{avatar(0,small)}--></span>
		<strong class="vwmy qq">{$_G[member][username]}</strong>
		<i class="arrow-w"></i>
	</div>
	<div id="umLogin_menu" class="p_pop" style="display:none;">
		<img class="login_nrrow" src="{$_G['style']['styleimgdir']}header_login_ico.png" alt="" />
		<div class="cl um_info">
			<a class="avt"><!--{avatar(0,big)}--></a>
		</div>
		<div class="um_op">
			<!--{hook/global_usernav_extra1}-->
			<a href="home.php?mod=spacecp&ac=credit&showcredit=1">{lang credits}: 0</a>
			<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
			<div class="qq_login" style="color:#666;">{lang usergroup}: $_G[group][grouptitle]</div>
		</div>
	</div>

</div>
<!--{/if}-->